@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HELLO MATH</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Geometria analitica</h2>
        <p>
            @Html.ActionLink("Parabola", "Parabola", "Home")
        </p>
    </div>
</div>