@model HelloMath.Models.ParabolaRequest

@{
    ViewBag.Title = "Equazione della Parabola";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Inserire i parametri A B C dell'equazione</p>

@using (Html.BeginForm("Parabola", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel();
    <input type="submit" value="Parabola" />
}

<script type="text/javascript">
    $(function () {
        // Declare a proxy to reference the hub.
        var lth = $.connection.liveTimingHub;
        lth.client.update = function (sessId, tabsNum)
        {
            $("#crTabsNum").append(tabsNum);
        };
        lth.client.logOut = function () {
            $('#hrefLogout')[0].click();
        };
        // Start the connection.
        $.connection.hub.start();
    });
</script>