@model HelloMath.Models.ParabolaRequest

@{
    ViewBag.Title = "Equazione della Parabola";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Inserire i parametri A B C dell'equazione</p>

@using (Html.BeginForm("Parabola", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel();
}
<input type="button" id="test" title="Prova" value="Test" />

@section Scripts
{
<script type="text/javascript">
    $(function () {
        var parabolaHub = $.connection.parabolaHub;

        $('#test').click(function (e) {
            var a = $('#ParamA').val();
            var b = $('#ParamB').val();
            var c = $('#ParamC').val();
            parabolaHub.server.sviluppa(a, b, c);
        });

        parabolaHub.client.parabolaUpdate = function (params)
        {
            var p = params;
        };

        // Start the connection.
        $.connection.hub.start();
    });
</script>
}